body {
    background-color: deepskyblue !important;
}

footer {
    width: 100%;
    height: 30px;
}
.text-cmp{
    font-weight: bold !important;
    color: #c3073f !important;
}
.text-lime{
    color: #950740 !important;
}
.login{
    background-color: yellowgreen !important;
}

.hero-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
}

.hi-1 {
    background-image: url("img/hero-image.jpg");
}
.hi-2 {
    background-image: url("img/hero-image2.jpg");
}
.txt-username{
    color: brown !important;
    font-weight: bold !important;
    padding-right: 3px;
    position: absolute;
    bottom: 0;
    right: 0;
}

table a{
    text-decoration:none !important;
}
.chnUsr{
    text-decoration: none !important;
    color: lime;
}

.video{
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}